body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: unset !important;
}

a:hover {
  color: unset !important;
}

.nav-link {
  color: white !important;
  padding: 1.5rem 2rem !important;
  border: 1px solid #ffffff20 !important;
}

.nav-link:hover {
  background-color: #ffffff20 !important;
}

.active {
  background-color: #00000030 !important;
}